{% extends "_layouts/base" %}

{% block body %}

<!-- Header -->
<div class="cell shrink" style="z-index: 1039" data-aos="fade-in" data-aos-delay="100">
{% include "_includes/global/navigation" %}
</div>
<!-- End Header -->

{% block main %}{% endblock %}

{% endblock %}