{% set bodyClass = 'home' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Main -->
<div class="cell auto" id="main" data-aos="fade-in" data-aos-delay="100">
  <main class="grid-x align-middle" style="min-height: 100%">
    <div class="cell text-center">
      {% for image in entry.heroImages.orderBy('RAND()').all() %}
      Test4
        <img src="{{images.domain}}{{ image.filename }}?h=500&fit=crop&ch=dpr&cs=tinysrgb&dpr=2&format=compress}}" alt="{{ image.title }}">
      {% endfor %}
    </div>
  </main>
</div>
<!-- Main -->


{% endblock %}